<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminArt">
<!-- 작성자 : hyung -->
	<!-- column01 - remark(CLOB)는 빠져있음. -->
	<sql id="column01">
		seq, title, createyear, artsize, imagepath, viewcount,
		TO_CHAR(regdate,'YYYY.MM.DD AM HH:MI') AS regdate,
		artist, painter, material
	</sql>
	<!--  dynamic query  -->
	<sql id="where01">
		<where>
			<if test="artist != null">
				OR artist LIKE '%'||#{artist}||'%'
			</if>
			<if test="painter != null">
				OR painter LIKE '%'||#{painter}||'%'
			</if>
			<if test="material != null">
				OR material LIKE '%'||#{material}||'%'
			</if>			
			<if test="cseq != null">
				OR cseq = #{cseq}
			</if>
		</where>	
	</sql>
	<sql id="order01">		
		<choose>
			<when test="sortField == 1">
				ORDER BY title ASC, seq DESC
			</when>
			<when test="sortField == 2">
				ORDER BY regdate DESC, seq DESC
			</when>
			<when test="sortField == 3">
				ORDER BY viewcount DESC, title ASC
			</when>
			<otherwise>
				ORDER BY regdate DESC, seq DESC
			</otherwise>
		</choose>
	</sql>
	<select id="getList" parameterType="artDto" resultType="artDto">
		SELECT result2.*
		FROM   (SELECT result1.*, ROWNUM rnum
				FROM   (SELECT DISTINCT <include refid="column01"/>		
						FROM   v_art 
						<include refid="where01"/>
						<include refid="order01"/>
						) result1
				) result2
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}		
	</select>
	<select id="getCount" parameterType="artDto" resultType="int">
		SELECT NVL(COUNT(DISTINCT seq)), 0)
		FROM   v_art 
		<include refid="where01"/>		
	</select>
	<select id="getData" parameterType="artDto" resultType="artDto">
		SELECT result1.*
		FROM (	SELECT <include refid="column01"/>, remark, 
					   LAG(seq,1,0) OVER (<include refid="order01"/>) AS prevNum,
					   LEAD(seq,1,0) OVER (<include refid="order01"/>) AS nextNum
				FROM   v_art
				<include refid="where01"/>
				<include refid="order01"/>
			 ) result1
		WHERE  seq=#{seq}
	</select>
	<insert id="insert" parameterType="artDto">
		INSERT INTO t_art ( seq, title, createyear, artsize, imagepath, viewcount, remark, regdate)
		VALUES(tart_seq.NEXTVAL, #{title}, #{createyear}, #{artsize}, #{impagepath}, #{viewcount}, #{remarks}, SYSDATE)
	</insert>
	<update id="update" parameterType="artDto">
		UPDATE t_art 
		SET    title=#{title}
			,  createyear=#{createyear}
			,  artsize=#{artsize}
			,  imagepath=#{imagepath}
			,  remark=#{remark}
		WHERE seq=#{seq}
	</update>
	<delete id="delete" parameterType="int">
		DELETE 
		FROM   t_art
		WHERE seq=#{seq}
	</delete>
</mapper>