<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="artist">
	<!-- 자주 사용하는 sql 문을 미리 정의해 놓기 -->
	<sql id="categoryColumn">
		seq, code, name, remark, imagePath, ddate
		TO_CHAR(bdate,'YYYY.MM.DD AM HH:MI') AS bdate,
		TO_CHAR(ddate,'YYYY.MM.DD AM HH:MI') AS ddate
	</sql>
	
	<!-- 추가 -->	
	<insert id="insertArtist" parameterType="category">
		INSERT INTO T_Category(seq, code, name, remark, imagePath, bdate, ddate)
		VALUES(TCategory_seq.NEXTVAL, 'A', #{name}, #{remark}, #{imagePath}, #{bdate} ,#{ddate})
	</insert>
	<insert id="insertMaterial" parameterType="category">
		INSERT INTO T_Category(seq, code, name, remark, imagePath, bdate, ddate)
		VALUES(TCategory_seq.NEXTVAL, 'M', #{name}, #{remark}, #{imagePath}, #{bdate} ,#{ddate})
	</insert>
	<insert id="insertArtistPart" parameterType="category">
		INSERT INTO T_Category(seq, code, name, remark, imagePath, bdate, ddate)
		VALUES(TCategory_seq.NEXTVAL, 'P', #{name}, #{remark}, #{imagePath}, #{bdate} ,#{ddate})
	</insert>
	
	<!-- 변경 -->
	<update id="update" parameterType="category">
		UPDATE T_Category set name=#{name}
		     , remark=#{remark}
		     , imagePath=#{imagePath}
		     , bdate=#{bdate}
		     , ddate=#{ddate}
		 WHERE seq=#{seq}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM T_Category WHERE seq=#{seq}
	</delete>
	
	<select id="getDataArtist">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='A' AND num=#{num}
	</select>
	<select id="getDataMaterial">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='M' AND num=#{num}
	</select>
	<select id="getDataArtistPart">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='P' AND num=#{num}
	</select>
	
	<select id="getListArtist">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='A'
	</select>
	<select id="getListMaterial">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='M'
	</select>
	<select id="getListArtistPart">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='P'
	</select>
</mapper>