<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="art">

<!-- 작성자 : hyung -->

	<!-- artColumn - remark(CLOB)는 빠져있음. -->
	<sql id="artColumn">
		seq, title, createyear, artsize, imagepath, viewcount,
		TO_CHAR(regdate,'YYYY.MM.DD AM HH:MI') AS regdate,
		artist, painter, material
	</sql>
	<!--  dynamic query  -->
	<sql id="keywordWhere">
		<trim prefix="" prefixOverrides="AND |OR ">
			<if test="artist != null">
				OR UPPER(artist) LIKE '%'||UPPER(#{artist})||'%'
			</if>
			<if test="painter != null">
				OR UPPER(painter) LIKE '%'||UPPER(#{painter})||'%'
			</if>
			<if test="material != null">
				OR UPPER(material) LIKE '%'||UPPER(#{material})||'%'
			</if>		
			<if test="title != null">
				OR UPPER(title) LIKE '%'||UPPER(#{title})||'%'
			</if>
			<if test="remark != null">
				OR UPPER(remark) LIKE '%'||UPPER(#{remark})||'%'
			</if>
		</trim>
	</sql>
	<sql id="artWhere">
		<where>		
			<if test="searchKeyword != null and searchKeyword != ''">
			(
			<include refid="keywordWhere"/>								
			)	
			</if>			
			<if test="cseq != 0">
				AND cseq = #{cseq}
			</if>
		</where>	
	</sql>
	<sql id="artSort">		
		<choose>
			<when test="sortField == null or sortfield == '' or sortField == '1'">
				ORDER BY regdate DESC, seq DESC
			</when>
			<when test="sortField == '2'">
				ORDER BY title ASC, seq DESC
			</when>
			<when test="sortField == '3'">
				ORDER BY viewcount DESC, title ASC
			</when>
			<otherwise>
				ORDER BY regdate DESC, seq DESC
			</otherwise>
		</choose>
	</sql>
	<select id="getList" parameterType="artDto" resultType="artDto">
		SELECT result2.*
		FROM   (SELECT result1.*, ROWNUM rnum
				FROM   (SELECT DISTINCT <include refid="artColumn"/>		
						FROM   v_art 
						<include refid="artWhere"/>
						<include refid="artSort"/>
						) result1
				) result2
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}		
	</select>
	<select id="getCount" parameterType="artDto" resultType="int">
		SELECT NVL(COUNT(DISTINCT seq), 0)
		FROM   v_art 
		<include refid="artWhere"/>		
	</select>
	<select id="getData" parameterType="artDto" resultType="artDto">
		SELECT result2.*, ( select remark from t_art where seq=#{seq}) AS remark
		FROM   (
				SELECT result1.*, 
					   LAG(seq,1,0) OVER (<include refid="artSort"/>) AS prevNum,
					   LEAD(seq,1,0) OVER (<include refid="artSort"/>) AS nextNum
				FROM (	SELECT DISTINCT <include refid="artColumn"/>
						FROM   v_art
						<include refid="artWhere"/>
						<include refid="artSort"/>
					 ) result1
				) result2
		WHERE  seq=#{seq}
	</select>
	<select id="getSequence" resultType="int">
		SELECT tart_seq.NEXTVAL FROM dual
	</select>
	<insert id="insert" parameterType="artDto">
		INSERT INTO t_art (seq, title, createyear, artsize, imagepath, viewcount, remark, regdate)
		VALUES(#{seq}, #{title}, #{createyear}, #{artsize}, #{imagepath}, 0, #{remark}, SYSDATE)
	</insert>
	<update id="update" parameterType="artDto">
		UPDATE t_art 
		SET    title=#{title}
			,  createyear=#{createyear}
			,  artsize=#{artsize}
			,  imagepath=#{imagepath}
			,  remark=#{remark}
		WHERE seq=#{seq}
	</update>
	<!-- 삭제시 t_artrel, T_ArtComment 테이블도 함께 삭제해야함 -->
	<delete id="delete" parameterType="int">
		DELETE 
		FROM   t_art
		WHERE seq=#{seq}
	</delete>
</mapper>