<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">
	<!-- 자주 사용하는 sql 문을 미리 정의해 놓기 -->
	<sql id="categoryColumn">
		seq, code, name, remark, imagePath, bdate, ddate
	</sql>
	
	<!-- 추가 -->	
	<insert id="insertArtist" parameterType="category">
		INSERT INTO T_Category(seq, code, name, remark, imagePath, bdate, ddate)
		VALUES(TCategory_seq.NEXTVAL, 'A', #{name}, #{remark}, #{imagePath}, #{bdate} ,#{ddate})
	</insert>
	<insert id="insertMaterial" parameterType="category">
		INSERT INTO T_Category(seq, code, name, remark, imagePath, bdate, ddate)
		VALUES(TCategory_seq.NEXTVAL, 'M', #{name}, #{remark}, #{imagePath}, #{bdate} ,#{ddate})
	</insert>
	<insert id="insertArtistPart" parameterType="category">
		INSERT INTO T_Category(seq, code, name, remark, imagePath, bdate, ddate)
		VALUES(TCategory_seq.NEXTVAL, 'P', #{name}, #{remark}, #{imagePath}, #{bdate} ,#{ddate})
	</insert>
	<insert id="insert" parameterType="category">
		INSERT INTO T_Category(seq, code, name, remark, imagePath, bdate, ddate)
		VALUES(TCategory_seq.NEXTVAL, #{code}, #{name}, #{remark}, #{imagePath}, #{bdate} ,#{ddate})
	</insert>
	
	
	<!-- 변경 -->
	<update id="update" parameterType="category">
		UPDATE T_Category set name=#{name}
		     , remark=#{remark}
		     , imagePath=#{imagePath}
		     , bdate=#{bdate}
		     , ddate=#{ddate}
		 WHERE seq=#{seq}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM T_Category WHERE seq=#{seq}
	</delete>
	
	<select id="getDataArtist" parameterType="int" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='A' AND num=#{num}
	</select>
	<select id="getDataMaterial" parameterType="int" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='M' AND num=#{num}
	</select>
	<select id="getDataArtistPart" parameterType="int" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='P' AND num=#{num}
	</select>
	
	<select id="getListArtist" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='A'
	</select>
	<select id="getListMaterial" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='M'
	</select>
	<select id="getListArtistPart" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='P'
	</select>
	<select id="getSearchList" parameterType="category" resultType="category">
		SELECT <include refid="categoryColumn" />
		FROM   T_Category
		WHERE  code=#{code}
		<if test="name != null">
		AND    UPPER(name) LIKE '%'||UPPER(#{name})||'%'
		</if>
		ORDER BY name ASC		    
	</select>
</mapper>