<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">
	<!-- 자주 사용하는 sql 문을 미리 정의해 놓기 -->
	<sql id="categoryColumn">
		seq, code, name, remark, imagepath, bdate, ddate
	</sql>
	<!--  
	<insert id="insert" parameterType="category">
		<choose>
			<when test="bdate == null and ddate == null">
				INSERT INTO T_Category(seq, code, name, remark, imagepath)
				VALUES(TCategory_seq.NEXTVAL, #{code}, #{name}, #{remark}, #{imagepath})
			</when>
			<when test="bdate == null">
				INSERT INTO T_Category(seq, code, name, remark, imagepath, ddate)
				VALUES(TCategory_seq.NEXTVAL, #{code}, #{name}, #{remark}, #{imagepath}, #{ddate})
			</when>
			<when test="ddate == null">
				INSERT INTO T_Category(seq, code, name, remark, imagepath, bdate)
				VALUES(TCategory_seq.NEXTVAL, #{code}, #{name}, #{remark}, #{imagepath}, #{bdate})
			</when>
			<otherwise>
				INSERT INTO T_Category(seq, code, name, remark, imagepath, bdate, ddate)
				VALUES(TCategory_seq.NEXTVAL, #{code}, #{name}, #{remark}, #{imagepath}, #{bdate}, #{ddate})
			</otherwise>
		</choose>
	</insert>
	-->
	<insert id="insert" parameterType="category">
			INSERT INTO T_Category(seq, code, name, remark, imagepath, bdate, ddate)
			VALUES(TCategory_seq.NEXTVAL, #{code}, #{name}, #{remark, jdbcType=VARCHAR}, #{imagepath}, #{bdate, jdbcType=VARCHAR}, #{ddate, jdbcType=VARCHAR})
	</insert>
	
	
	<!-- 변경 -->
	<update id="update" parameterType="category">
		UPDATE T_Category set name=#{name}
		     , remark=#{remark}
		     , imagepath=#{imagepath}
		     , bdate=#{bdate}
		     , ddate=#{ddate}
		 WHERE seq=#{seq}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM T_Category WHERE seq=#{seq}
	</delete>
	
	

	<select id="getListArtist" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='A'
	</select>
	<select id="getListMaterial" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='M'
	</select>
	<select id="getListArtistPart" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code='P'
	</select>
	<select id="getListCategory" parameterType="category" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		 WHERE code=#{code}
		<if test="name != null">
		   AND UPPER(name) LIKE '%'||UPPER(#{name})||'%'
		</if>
		<if test="remark != null">
		   AND UPPER(remark) LIKE '%'||UPPER(#{remark})||'%'
		</if>
	</select>
	
	<!-- son -->
	<select id="getList" resultType="category" parameterType="String">
		SELECT * FROM V_CATEGORY
		WHERE code=#{code}
	</select>
	<!-- 카테고리 상세정보 나타내기 -->
	<select id="getDataAll" parameterType="int" resultType="category">
		SELECT <include refid="categoryColumn" />
		  FROM T_Category
		  WHERE seq=#{seq}
	</select>
	
	
	
	
	
	<select id="getSearchList" parameterType="category" resultType="category">
		SELECT <include refid="categoryColumn" />
		FROM   T_Category
		WHERE  code=#{code}
		<if test="name != null">
		  AND  UPPER(name) LIKE '%'||UPPER(#{name})||'%'
		</if>
		ORDER BY name ASC		    
	</select>
	
	
</mapper>