<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config">

<!-- 작성자 : hyung -->

	<select id="getData" parameterType="String" resultType="configDto">
		SELECT code, pagerow, displayrow, section1, section2, ip, uploadRoot
		FROM   t_config
		WHERE  code=#{code}
	</select>
</mapper>