<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<select id="userCount" resultType="userDto">
		SELECT sum(decode(roll, 'U', 1)) as userCount
		     , sum(decode(roll, 'A', 1)) as adminCount
		     , count(id) as allCount
		  FROM T_USER
	</select>

	<select id="getCount" parameterType="userDto" resultType="int">
		SELECT MAX(ROWNUM)
		FROM T_USER
		<where>
			<if test="id !=null">
				OR id LIKE '%'||#{id}||'%'
			</if>
			<if test="email !=null">
				OR email LIKE '%'||#{email}||'%'
			</if>
		</where>
	</select>
	<select id="getList" parameterType="userDto" resultType="userDto">
		SELECT result2.*
		FROM ( SELECT result1.*, ROWNUM AS rnum
			   FROM (
						SELECT  id, email, roll, regdate, deldate, 
								DECODE(roll, 'A', '관리자', 'S', '수퍼', 'U', '사용자','') AS rollname
						FROM T_User
						<where>
							<if test="id !=null">
								OR id LIKE '%'||#{id}||'%'
							</if>
							<if test="email !=null">
								OR email LIKE '%'||#{email}||'%'
							</if>
						</where>
						ORDER BY id ASC
					) result1
				) result2
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}	
		ORDER BY rnum	
	</select>
	<select id="isExist" parameterType="string" resultType="string">
		SELECT id 
		FROM T_User 
		WHERE id=#{id}
	</select>
	<insert id="insert" parameterType="userDto">
  		INSERT INTO T_User 
		(id, pwd, email, roll, regdate) 
		VALUES(#{id}, #{pwd}, #{email}, #{roll}, SYSDATE)
	</insert>
	<select id="getData" parameterType="string" resultType="userDto">
		SELECT id, pwd, email, roll, regdate, deldate 
  		FROM T_User 
  		WHERE id=#{id}
	</select>
	<update id="update" parameterType="userDto">
		UPDATE T_User 
		SET id=#{id}, email=#{email}, roll=#{roll}, deldate=#{deldate}
		WHERE id=#{id}
	</update>
	<update id="changePwd" parameterType="userDto">
		UPDATE T_User 
		SET pwd=#{pwd} 
		WHERE id=#{id}
	</update>
	<update id="leave" parameterType="string">
		UPDATE T_User
		SET deldate=SYSDATE
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM T_User
		WHERE id=#{id}
	</delete>
</mapper>